/* Title Font  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
/* Body Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Default Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Reset CSS  */
* {
  margin: 0;
  box-sizing: border-box;
  @apply font-sans;
}
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-montserrat;
  }
}
@layer base {
  p {
  }
}
.anim {
  position: relative;
  display: inline-block;
  transition: all 1s ease-out linear;
}
.progress-bar {
  animation: progress 3s ease-out;
}
@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;

    margin: 0;
  }
}
